@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Arial, Helvetica, sans-serif;
}

@layer base {
  :root {
    --background: 0 0% 13.3%;
    --foreground: 0 0% 95%;
    --card: 0 0% 15%;
    --card-foreground: 0 0% 95%;
    --popover: 0 0% 10%;
    --popover-foreground: 0 0% 95%;
    --primary: 207.1 90.2% 67.5%;
    --primary-foreground: 210 40% 9.8%;
    --secondary: 0 0% 20%;
    --secondary-foreground: 0 0% 98%;
    --muted: 0 0% 20%;
    --muted-foreground: 0 0% 63.9%;
    --accent: 174.1 44.6% 51.6%;
    --accent-foreground: 0 0% 9.8%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 0 0% 20%;
    --input: 0 0% 20%;
    --ring: 207.1 90.2% 67.5%;
    --radius: 0.5rem;
    --chart-1: 207 90% 68%;
    --chart-2: 174 45% 52%;
    --chart-3: 43 74% 66%;
    --chart-4: 27 87% 67%;
    --chart-5: 12 76% 61%;

    --sidebar-background: 0 0% 10%;
    --sidebar-foreground: 0 0% 95%;
    --sidebar-primary: 207.1 90.2% 67.5%;
    --sidebar-primary-foreground: 210 40% 9.8%;
    --sidebar-accent: 0 0% 20%;
    --sidebar-accent-foreground: 0 0% 98%;
    --sidebar-border: 0 0% 15%;
    --sidebar-ring: 207.1 90.2% 67.5%;
  }

  .dark {
    --background: 0 0% 13.3%;
    --foreground: 0 0% 95%;
    --card: 0 0% 15%;
    --card-foreground: 0 0% 95%;
    --popover: 0 0% 10%;
    --popover-foreground: 0 0% 95%;
    --primary: 207.1 90.2% 67.5%;
    --primary-foreground: 210 40% 9.8%;
    --secondary: 0 0% 20%;
    --secondary-foreground: 0 0% 98%;
    --muted: 0 0% 20%;
    --muted-foreground: 0 0% 63.9%;
    --accent: 174.1 44.6% 51.6%;
    --accent-foreground: 0 0% 9.8%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 0 0% 20%;
    --input: 0 0% 20%;
    --ring: 207.1 90.2% 67.5%;

    --sidebar-background: 0 0% 10%;
    --sidebar-foreground: 0 0% 95%;
    --sidebar-primary: 207.1 90.2% 67.5%;
    --sidebar-primary-foreground: 210 40% 9.8%;
    --sidebar-accent: 0 0% 20%;
    --sidebar-accent-foreground: 0 0% 98%;
    --sidebar-border: 0 0% 15%;
    --sidebar-ring: 207.1 90.2% 67.5%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
